<EditForm Model="@medicine" OnValidSubmit="@OnVaildSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Medicine Name: </label>
            <div>
                <InputText @bind-Value="@medicine.MedicineName" class="form-control" />
                <ValidationMessage For="@(() => medicine.MedicineName)" />
            </div>
        </div>

        <div class="form-group">
            <label>Medicine Type: </label>
            <div>
                <InputText @bind-Value="@medicine.MedicineType" class="form-control" />
                <ValidationMessage For="@(() => medicine.MedicineType)" />
            </div>
        </div>

        <div class="form-group">
            <label>Medicine Descrpition: </label>
            <div>
                <InputText @bind-Value="@medicine.MedicineDescription" class="form-control" />
                <ValidationMessage For="@(() => medicine.MedicineDescription)" />
            </div>
        </div>

        <div class="form-group">
            <label>Medicine price: </label>
            <div>
                <InputNumber @bind-Value="@medicine.MedicinePrice" class="form-control" />
                <ValidationMessage For="@(() => medicine.MedicinePrice)" />
            </div>
        </div>

    </fieldset>
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>}
    <BackToList Target="medicines" />
</EditForm>

@code{
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Medicine medicine { get; set; }
    [Parameter] public string ButtonText { get; set; }= "Save";
    [Parameter] public EventCallback OnVaildSubmit { get; set; }

}