@inject HttpClient _client

<EditForm Model="@prescriptionItem" OnValidSubmit="@OnVaildSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Medicine: </label>
        <div>
            <InputSelect @bind-Value="prescriptionItem.MedicineId" class="form-control">
                <option value="">-- Select Medicines --</option>
                @if (Medicines != null)
                {
                    foreach (var medicine in Medicines)
                    {
<option value="@medicine.Id">@medicine.Id</option>}
}
            </InputSelect>
            <ValidationMessage For="@(() => prescriptionItem.MedicineId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Prescription: </label>
        <div>
            <InputSelect @bind-Value="prescriptionItem.PrescriptionId" class="form-control">
                <option value="">-- Select Presciprtion --</option>
                @if (Prescriptions != null)
                {
                    foreach (var prescription in Prescriptions)
                    {
<option value="@prescription.Id">@prescription.Id</option>}
}
            </InputSelect>
            <ValidationMessage For="@(() => prescriptionItem.MedicineId)" />
        </div>
    </div>

    <div class="form-group">
        <label>prescription qty: </label>
        <div>
            <InputNumber @bind-Value="@prescriptionItem.PrescriptionQuantity" class="form-control" />
            <ValidationMessage For="@(() => prescriptionItem.PrescriptionQuantity)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
    <BackToList Target="prescriptionItems" />
</EditForm>

@code{      
    [Parameter] public PrescriptionItem prescriptionItem { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnVaildSubmit { get; set; }

    private IList<Medicine> Medicines;
    private IList<Prescription> Prescriptions;

    protected async override Task OnInitializedAsync()
    {
        Medicines = await _client.GetFromJsonAsync<List<Medicine>>($"{Endpoints.MedicinesEndpoint}");
        Prescriptions = await _client.GetFromJsonAsync<List<Prescription>>($"{Endpoints.PrescriptionsEndpoint}");
    } }